<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SweetDownloader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F0E400B1DEA8A0900B50A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F0E401F1DEA8A0900B50A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F0E402A1DEA8A0900B50A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
